<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/footers.css}" rel="stylesheet">
    <link th:href="@{/css/starter-template.css}" rel="stylesheet">

</head>
<body>
<!--header!-->
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-infinity"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M5.68 5.792a2.75 2.75 0 1 0 0 3.916L7.345 7.75 5.681 5.792ZM8 6.978 6.416 5.113l-.014-.015a3.75 3.75 0 1 0 0 5.304l.014-.015L8 8.522l1.584 1.865.014.015a3.75 3.75 0 1 0 0-5.304l-.014.015L8 6.978Zm.656.772 1.663 1.958a2.75 2.75 0 1 0 0-3.916L8.656 7.75Z"/>
            </svg>
        </a>


        <div sec:authorize="!isAuthenticated" class="col-md-3 text-end">
            <a th:href="@{/doLogin}" class="btn btn-outline-primary me-2">Login</a>
            <a th:href="@{/signup}" class="btn btn-primary">Sign-up</a>
        </div>
        <div sec:authorize="isAuthenticated" class="col-md-3 text-end">
            <a th:href="@{/logout}" class="btn btn-outline-primary me-2">Logout</a>
            <a th:href="@{/}" class="btn btn-primary">Back</a>
        </div>
    </header>
</div>


<div class="container" style="padding:0 120px;">

    <h1>User management for Administrator</h1>
    <p class="lead">You can view and delete users.</p>
    <div>
        <div>
            <h2>Set User Role by Username</h2>
            <br>
            <form class="row g-3 needs-validation" novalidate th:action="@{/setRoleByUsername}" method="post">
                <div class="col-6">
                    <label class="visually-hidden" for="inputUsername">Username</label>
                    <div class="input-group">
                        <input name="username" type="text" class="form-control" id="inputUsername"
                               placeholder="Username">
                    </div>
                </div>

                <div class="col-6">
                    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                    <select name="role" class="form-select" id="inlineFormSelectPref">
                        <option selected value="USER">USER</option>
                        <option value="ADMIN">ADMIN</option>
                    </select>
                </div>

                <div class="text-center">
                    <button class="w-50 btn btn-lg btn-primary align-content-sm-center  " type="submit">Post
                    </button>
                </div>
            </form>
        </div>
        <br><br>
        <h2>Table of Users</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Role</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="temp:${listUser}">
                <td th:text="${temp.getId()}"></td>
                <td th:text="${temp.getUsername()}"></td>
                <td th:text="${temp.getPassword()}"></td>
                <td th:text="${temp.getGender()=='man'?'Man':'Woman'}"></td>
                <td th:text="${temp.getAge()}"></td>
                <td th:text="${temp.getFirst_name()+' '+temp.getLast_name()}"></td>
                <td th:text="${temp.getEmail()}"></td>
                <td th:text="${temp.getPhone_number()}"></td>
                <td th:text="${temp.getRole()}"></td>
                <td>
                    <a th:href="@{/PostManagementDeleteUser/}+${temp.getUsername()}"
                       class="btn btn-outline-danger">Del</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2021 Company, Inc</p>

        <a href="/"
           class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-infinity"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M5.68 5.792a2.75 2.75 0 1 0 0 3.916L7.345 7.75 5.681 5.792ZM8 6.978 6.416 5.113l-.014-.015a3.75 3.75 0 1 0 0 5.304l.014-.015L8 8.522l1.584 1.865.014.015a3.75 3.75 0 1 0 0-5.304l-.014.015L8 6.978Zm.656.772 1.663 1.958a2.75 2.75 0 1 0 0-3.916L8.656 7.75Z"/>
            </svg>
        </a>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3" >
                <a class="text-muted" th:href="@{/RandomAddUser}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-shield-exclamation" viewBox="0 0 16 16">
                        <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                        <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                </a></li>
            <li class="ms-3"><a class="text-muted" th:href="@{https://github.com/spbgzh/WEBProject}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github"
                     viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
            </a></li>

            <li class="ms-3"><a class="text-muted" href="#">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#instagram"/>
                </svg>
            </a></li>
            <li class="ms-3"><a class="text-muted" href="#">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#facebook"/>
                </svg>
            </a></li>
        </ul>

    </footer>
</div>


</div>


</body>
</html>